@import "tailwindcss";

@theme {
  --color-light-gray: #f3f2f2;
  --color-lila-hero: #ebebf2;
  --color-rosa-hero: #f2dfeb;
  --color-lila-darker: #a5a5c9;
  --color-brown-cta: #a08a8d;
  --color-brown-shadow: #bdabad;
  --color-brown-darker: #7c6b6d;
  --color-black-Headings: #3e3a3d;
  --color-body-text: #6b6468;
  --color-body-shade: #cecbcd;
  --color-light-beige: #f6efea;
  --color-beige-steps: #f2e7dc;
  --color-beige-agenda: #f5f1f0;
  --color-beige-lighter-agenda: #f8f4f4;
  --color-beige-light-calendar: #f9f5f5;
  --color-beige-border: #e6decf;
  --color-light-brown: #e3d1bf;
  --color-border-cards: #d0c795;
  --color-text-steps: #594f58;
  --color-span-text: #9a9498;
  --font-logo: "mixta-didone", serif;
  --font-body: "source-serif-4", serif;
  --font-nav: "source-sans-3", sans-serif;
}
